
<div>
  <h2>Update Answer</h2>

  <%= form_with model:[@question, @answer], local: true do |f| %>
    <div class="form-group">

      <div class="form-group">
        <lavel>Name</lavel>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <lavel>Content</lavel>
        <%= f.text_area :content, class: "form-control" %>
      </div>

      <div class="text-center">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>

    </div>
  <% end %>
</div>